<!DOCTYPE html>
<html>

<head>
    <title>Retail Customer Insights</title>
</head>

<body>

    <h1>Retail Customer Insights</h1>
    
    <label>upload dataset</label>
    
    <form action="/uploads" method="POST" enctype="multipart/form-data">
        <input type="file" name="dataset",accept=".csv,.xlsx,.xls" required>
        <button type="submit">upload</button>
    </form>

    {% if success %}
        <h2>file loaded successfully"</h2>
        <p>rows:{{rows}}</P>
        <p>columns:{{columns}}</p>
        <p>format:{{file_format}}</p>
    {% endif %}
        
</body>

</html>
